* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

header {
    background-color: black;
    padding: 10px 5px;
}

header h1 {
    color: white;
    display: block;
    text-align: center;
}

header h1 a {
    text-decoration: none;
}

nav ul {
    list-style: none;
    width: 100%;
    display: inline-block;
    height: 20px;
    text-align: center;
}

nav ul li {
    display: inline-block;
    margin: 0 5px;
    padding: 10px;
}

body {
    color: blue;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    background-color: gray;
    padding: 5px;
    text-align: center;
    height: 100%;
}

.container {
    display: flex;
    flex-direction: column;
    height: 700px;
}

.map {
    flex: 1;
}

footer {
    text-align: center;
    padding: 10px;
}